@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    "Pretendard Variable",
    "Noto Sans KR",
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
